<h1>Persons</h1>
<p>Add a <%= link_to 'new person', new_person_path %> </p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age/Birthdate</th>
      <th>Gender</th>
    </tr>
  </thead>
<% @persons.each do |person| %>
  <tr>
    <td><%= "#{person.last_name}, #{person.first_name}" %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.gender %></td>
    <td><%= link_to 'view', person_path(person)%></td>
  </tr>
<% end %>
</table>

