<h1> <%= @joe.name %> </h1>
<%= link_to 'Back', gijoes_path %>
<p><strong>Year: </strong><%= @joe.year %></p>
<p><strong>Condition:</strong><%= @joe.condition %></p>

<p>
  <strong>More details: </strong>
  <a target="_blank" href="<%= @joe.yojoe_url %>">yojoe.com</a>
</p>

<script>
</script>
<iframe style="width: 100%; height: 500px" src="/show_yojoe/<%=@joe.id%>"></iframe>
